---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ storage_perf_namespace }}
spec: {}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-sysbench-rwx
  labels:
    icpdsupport/ignore-on-nd-backup=true
    velero.io/exclude-from-backup=true  
  namespace: "{{ storage_perf_namespace }}"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ rwx_storagesize }}
  storageClassName: {{ storageClass_ReadWriteMany }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-sysbench-rwo
  labels:
    icpdsupport/ignore-on-nd-backup=true
    velero.io/exclude-from-backup=true  
  namespace: "{{ storage_perf_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ rwo_storagesize }}
  storageClassName: {{ storageClass_ReadWriteOnce }}