{% import 'commonhelper.macros.j2' as cm with context %}
apiVersion: batch/v1
kind: Job
metadata:
  name: sysbench-random-write-rwo
  namespace: "{{ storage_perf_namespace }}"
spec:
  template:
    metadata:
      name: sysbench-random-write-rwo
    spec:
      serviceAccountName: storage-perf-sa
      securityContext:
        fsGroup: 1000
      {{ cm.nodeAffinity() | indent(6) }}
      containers:
      - name: sysbench-random-write-rwo
        image: {{ storage_perf_image }}
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
            add:
              - SYS_ADMIN
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        command: ["python3"]
        args:
          - '/tmp/sysbench.py'
          - '{{ rwrite_threads }}'
          - '{{ rwrite_fileTotalSize }}'
          - '{{ rwrite_fileNum }}'
          - 'rndwr'
          - '{{ rwrite_fileBlockSize }}'
          - 'async'
          - '0'
          - '{{ file_extra_flags }}'
          - '{{ cluster_infrastructure }}'
          - '{{ cluster_name }}'
          - '{{ storage_type }}'
          - 'pvc-sysbench-rwo'
          - '{{ storage_perf_image }}'
        volumeMounts:
        - name: tmp-store
          mountPath: /tmp/data
        - name: ansible-tmp
          mountPath: /opt/ansible/.ansible/tmp
        - name: tmp-dir
          mountPath: /tmp/work
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: pvc-sysbench-rwo
          readOnly: false
      - name: ansible-tmp
        emptyDir: {}
      - name: tmp-dir
        emptyDir: {}
      restartPolicy: Never
