{% import 'commonhelper.macros.j2' as cm with context %}
apiVersion: batch/v1
kind: Job
metadata:
  name: sysbench-sequential-read-rwo
  namespace: "{{ storage_perf_namespace }}"
spec:
  template:
    metadata:
      name: sysbench-sequential-read-rwo
    spec:
      {{ cm.nodeAffinity() | indent(6) }}
      containers:
      - name: sysbench-sequential-read-rwo
        image: {{ imageurl }}-{{ arch }}
        command: ["python3"]
        args:
          - '/tmp/sysbench.py'
          - '{{ sread_threads }}'
          - '{{ sread_fileTotalSize }}'
          - '{{ sread_fileNum }}'
          - 'seqrd'
          - '{{ sread_fileBlockSize }}'
          - '{{ sread_ioMode | default(ioMode | default("sync")) }}'
          - '{{ sread_fsyncFreq | default(fsyncFreq | default(0)) }}'
          - '{{ sread_extraFlags | default(extraFlags | default("none")) }}'
          - '{{ cluster_infrastructure }}'
          - '{{ cluster_name }}'
          - '{{ storage_type }}'
          - 'pvc-sysbench-rwo'
          - '{{ sread_runTime | default(runTime | default(120)) }}'
        volumeMounts:
        - name: tmp-store
          mountPath: /tmp/data
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: pvc-sysbench-rwo
          readOnly: false
      restartPolicy: Never
