{% import 'commonhelper.macros.j2' as cm with context %}
apiVersion: batch/v1
kind: Job
metadata:
  name: sysbench-sequential-write-rwx
  namespace: "{{ storage_perf_namespace }}"
spec:
  template:
    metadata:
      name: sysbench-sequential-write-rwx
    spec:
      {{ cm.nodeAffinity() | indent(6) }}
      containers:
      - name: sysbench-sequential-write-rwx
        image: {{ storage_perf_image }}
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
        command: ["python3"]
        args:
          - '/tmp/sysbench.py'
          - '{{ swrite_threads }}'
          - '{{ swrite_fileTotalSize }}'
          - '{{ swrite_fileNum }}'
          - 'seqwr'
          - '{{ swrite_fileBlockSize }}'
          - '{{ ioMode }}'
          - '{{ fsyncFreq }}'
          - '{{ file_extra_flags }}'
          - '{{ cluster_infrastructure }}'
          - '{{ cluster_name }}'
          - '{{ storage_type }}'
          - 'pvc-sysbench-rwx'
        volumeMounts:
        - name: tmp-store
          mountPath: /tmp/data
        - name: ansible-tmp
          mountPath: /opt/ansible/.ansible/tmp
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: pvc-sysbench-rwx
          readOnly: false
      - name: ansible-tmp
        emptyDir: {}
      restartPolicy: Never
