{% import 'commonhelper.macros.j2' as cm with context %}
apiVersion: batch/v1
kind: Job
metadata:
  name: sysbench-random-read-rwo
  namespace: "{{ storage_perf_namespace }}"
spec:
  template:
    metadata:
      name: sysbench-random-read-rwo
    spec:
      {{ cm.nodeAffinity() | indent(6) }}
      containers:
      - name: sysbench-random-read-rwo
        image: {{ imageurl }}-{{ arch }}
        command: ["python3"]
        args:
          - '/tmp/sysbench.py'
          - '{{ rread_threads }}'
          - '{{ rread_fileTotalSize }}'
          - '{{ rread_fileNum }}'
          - 'rndrd'
          - '{{ rread_fileBlockSize }}'
          - '{{ rread_ioMode | default(ioMode | default("async")) }}'
          - '{{ rread_fsyncFreq | default(fsyncFreq | default(0)) }}'
          - '{{ rread_extraFlags | default(extraFlags | default("direct")) }}'
          - '{{ cluster_infrastructure }}'
          - '{{ cluster_name }}'
          - '{{ storage_type }}'
          - 'pvc-sysbench-rwo'
          - '{{ rread_runTime | default(runTime | default(120)) }}'
        volumeMounts:
        - name: tmp-store
          mountPath: /tmp/data
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: pvc-sysbench-rwo
          readOnly: false
      restartPolicy: Never
